*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f3;
    font-family: sans-serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: 5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,68px);
    
}
.input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: end;
    padding: 20px;
}
.btn{
    height: 48px;
    width: 48px;
    background-color:#ecf0f3;
    border-radius: 50%;
    margin: 8px;
    font-size: 20px;

}
.btn:hover{
    background-color:rgb(223, 150, 107);

}
.equal{
    width: 115px;
    border-radius: 40px;
    height: 60px;
    font-size: 30px;
    
}
.equal:hover{
    background-color: rgb(221, 23, 23);
}